*{
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: 'Microsoft yahei';
    color: #666666;
    list-style: none;
}

a,
a:hover {
    text-decoration: none;
}

img {
    border: none;
}
