#top {
    width: 100%;
    height: 30px;
    background: #fbfbfb;
    border-bottom: 1px solid #ebebeb;
}

#top .content {
    width: 1200px;
    height: 30px;
    background: #fbfbfb;
    /*background: rgba(255,0,0,.2);*/
    margin: 0 auto;
}

#top .content_l {
    float: left;
}

#top .content_r {
    float: right;
    width: 240px;
}

#top .content_l i.foot {
    float: left;
    width: 18px;
    height: 17px;
    margin: 7px 0 0 0;
    background: url("../images/foot.png") no-repeat center center;
}

#top .content_l ul li {
    float: left;
    list-style: none;
    line-height: 30px;
}

#top .content_l span.logo {
    float: left;
    margin: 0 6px;
}

#top .content_l a.logo_link,
#top .content_l a.logo_link:hover {
    color: #9345fc;
    cursor: pointer;
}

#top .content_l ul li.item2 {
    color: #666;
    margin-left: 40px;
}

#top .content_l ul li.item3,
#top .content_l ul li.item4 {
    margin-left: 20px;
}

#top .content_l ul li.item3 a,
#top .content_l ul li.item4 a {
    color: #666666;
    text-decoration: underline;
}

#top .content_l ul li.item3 {
    position: relative;
    z-index: 2;
}

#top .content_l ul li.item3 a:hover,
#top .content_l ul li.item4 a:hover {
    color: #333333;
    text-decoration: underline;
}

#top .content_r ul li {
    float: left;
    list-style: none;
    line-height: 26px;
}

#top .content_r ul li.item1,
#top .content_r ul li.item2 {
    width: 75px;
    height: 26px;
    background: #cccccc;
    margin: 2px 20px 0 0;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}

#top .content_r ul li.item1 a,
#top .content_r ul li.item2 a,
#top .content_r ul li.item1 a:hover,
#top .content_r ul li.item2 a:hover {
    color: #ffffff;
}

#top .content_r ul li.item1 {
    background: #ad73ff;
}

#top .content_r ul li.item2 {
    background: #f5a76e;
}

#top .content_r ul li.item3 a {
    display: inline-block;
    width: 25px;
    height: 13px;
    background: url("../images/more.png") no-repeat center center;
    margin: 9px 0;
}

#bill {
    width: 1200px;
    height: 200px;
    margin: 0 auto;
    background: url("../images/bill.png") no-repeat center center;
    position: relative;
}

#bill i.animals_tooltips {
    width: 106px;
    height: 71px;
    background: url("../images/animals.png") no-repeat center center;
    position: absolute;
    top: 40px;
    left: 360px;
    display: none;
}

#bill .search_wrapper {
    width: 150px;
    height: 30px;
    position: absolute;
    top: 24px;
    right: 320px;
}

#bill .search {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 28px;
    line-height: 28px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #cccccc;
    outline: none;
    text-indent: 12px;
    color: #666666;
}

#bill .icon_search {
    width: 20px;
    height: 21px;
    position: absolute;
    right: 5px;
    top: 4px;
    background: url("../images/search.png") no-repeat center center;
}

#top .recommend {
    width: 212px;
    height: 142px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #cfb5fb;
    background: #ffffff;
    position: absolute;
    top: 30px;
    left: 0;
    padding: 20px 20px 0 15px;
    display: none;
    z-index: 2;
    overflow: hidden;
}

#top .recommend ul.share_list {
    width: 212px;
    height: 60px;
}

#top .recommend ul.share_list li {
    width: 53px;
    height: 60px;
    float: left;
    text-align: center;
}

#top .recommend ul.share_list li i {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 10px;
}

#top .recommend ul.share_list li i.qqzone {
    background: url("../images/qqzone.png") no-repeat center center;
}

#top .recommend ul.share_list li i.person {
    background: url("../images/person.png") no-repeat center center;
}


#top .recommend ul.share_list li i.weibo {
    background: url("../images/weibo.png") no-repeat center center;
}

#top .recommend ul.share_list li i.link {
    background: url("../images/link.png") no-repeat center center;
}

#top .recommend .share_link {
    margin-top: 8px;
}

#top .recommend .share_link p.share_text {
    margin: 0 0 8px 0;
    padding: 0;
    height: 20px;
    color: #a0a0a0;
}

#top .recommend .share_link input {
    width: 200px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #cccccc;
    text-indent: 10px;
}

#main {
    width: 1000px;
    height: auto;
    margin: 0 auto;
}

#main #headbar {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #cccccc;
}

#main #headbar ul.headbar_list li {
    float: left;
    list-style: none;
    position: relative;
    width: 130px;
    height: 40px;
    line-height: 42px;
    text-align: center;
}

#main #headbar ul.headbar_list li a {
    display: inline-block;
    width: 130px;
    height: 40px;
}

#main #headbar ul.headbar_list li a span.headbar_text {
    font-size: 14px;
}

#main #headbar ul.headbar_list li a span.line {
    width: 0;
    height: 3px;
    background: #b7d1ff;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

#main #headbar ul.headbar_list li a span.line_focus {
    width: 100%;
    height: 3px;
    background: #b7d1ff;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

#main #headbar ul.headbar_list li a span.number {
    width: 30px;
    height: 18px;
    line-height: 18px;
    display: inline-block;
    background: #b7d1ff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    vertical-align: text-bottom;
    color: #ffffff;
    margin-left: 5px;
    text-align: center;
}

#main #headbar .headbar_l {
    float: left;
}

#main #headbar .headbar_r {
    float: right;
    line-height: 42px;
    margin-right: 20px;
    cursor: pointer;
}

#main #headbar .headbar_r i.icon_code {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url("../images/code.png") no-repeat center center;
    vertical-align: middle;
    margin-right: 6px;
}

/* main_l */
#main .main_l {
    float: left;
    width: 282px;
    height: auto;
    padding-top: 20px;
    /*background: lightblue;*/
}

#main .main_l .freehand h1 {
    font-size: 16px;
    font-weight: bold;
    color: #666666;
}

#main .main_l .freehand .freehand_banner {
    margin-top: 15px;
    width: 278px;
    height: 185px;
    border: 2px solid lightblue;
    position: relative;
    overflow: hidden;
}

#main .main_l .freehand .banner_wrapper {
    position: relative;
    width: 1410px;
    height: 185px;
    background: #cccccc;
}

#main .main_l .freehand ul.banner_list .banner_pic,
#main .main_l .freehand ul.banner_list li {
    width: 282px;
    height: 185px;
    list-style: none;
    float: left;
}

#main .main_l .freehand ul.banner_list .banner_pic1 {
    background: url("../images/banner_pic1.png") no-repeat center center;
}

#main .main_l .freehand ul.banner_list .banner_pic2 {
    background: url("../images/banner_pic2.png") no-repeat center center;
}

#main .main_l .freehand ul.banner_list .banner_pic3 {
    background: url("../images/banner_pic3.png") no-repeat center center;
}

#main .main_l .freehand ul.banner_list .banner_pic4 {
    background: url("../images/banner_pic4.png") no-repeat center center;
}

#main .main_l .freehand ul.banner_list .banner_pic5 {
    background: url("../images/banner_pic5.png") no-repeat center center;
}


#main .main_l .freehand ul.dot_list {
    position: absolute;
    right: 20px;
    bottom: 15px;
    z-index: 2;
}

#main .main_l .freehand ul.dot_list li {
    list-style: none;
    float: left;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

#main .main_l .freehand ul.dot_list a.dot {
    display: block;
    width: 8px;
    height: 8px;
    background: #ffffff;
    border: 1px solid lightblue;
    position: absolute;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#main .main_l .freehand ul.dot_list li.dot_active a.dot {
    background: lightblue;
}

/*animals_block*/
#main .main_l .animals_block {
    margin-top: 30px;
}

#main .main_l .animals_block h1 {
    font-size: 16px;
    color: #666666;
    font-weight: bold;
    margin-bottom: 15px;
}

#main .main_l .animals_block .animals_block_container {
    width: 250px;
    height: 114px;
    margin: 0 15px;
}

#main .main_l .animals_block .animals_block_container h2 a,
#main .main_l .animals_block .animals_block_container h2 a:hover {
    font-size: 14px;
    font-weight: normal;
    display: inline-block;
    background: #e5e5e5;
    padding: 4px 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#main .main_l .animals_block .animals_block_container ul,
#main .main_l .animals_block .animals_block_container ul li {
    list-style: none;
    float: left;
}

#main .main_l .animals_block .animals_block_container ul {
    padding-bottom: 5px;
    background: #ffffff;
}

#main .main_l .animals_block .animals_block_container ul:hover {
    background: #ffede0;
}

#main .main_l .animals_block .animals_block_container ul li {
    margin-right: 20px;
    margin-top: 6px;
}

#main .main_l .animals_block_container ul li a.red {
    color: #ff7676;
}

#main .main_l .animals_block_container ul li a.blue {
    color: #75a6fe;
}

#main .main_l .animals_block_container ul li a.brown {
    color: #835222;
}

#main .main_l .animals_block .animals_block_more {
    width: 100%;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background: #e5e5e5;
    cursor: pointer;
}

/* main_r */
#main .main_r {
    float: left;
    width: 698px;
    height: auto;
    /*background: lightcoral;*/
    padding-top: 20px;
    margin-left: 20px;
}

#main .main_r .pets_goods h1 {
    font-size: 16px;
    font-weight: bold;
    float: left;
}

#main .main_r .pets_goods h2 {
    font-size: 12px;
    font-weight: normal;
    float: left;
    margin: 4px 0 0 15px;
}

#main .main_r .pets_goods .pets_goods_title {
    width: 100%;
    height: 22px;
    margin-bottom: 14px;
}

#main .main_r .pets_goods .pets_goods_spread {
    width: 698px;
    height: 305px;
    /*background: lightgreen;*/
    clear: both;
    overflow: hidden;
}

#main .main_r .pets_goods_spread ul li {
    float: left;
    list-style: none;
    position: relative;
}

#main .main_r .pets_goods_spread ul li a {
    display: block;
}

#main .main_r .pets_goods_spread ul li.pets_spread_item1 {
    width: 183px;
    height: 305px;
}

#main .main_r .pets_goods_spread ul li.pets_spread_item2 {
    width: 175px;
    height: 305px;
}

#main .main_r .pets_goods_spread ul li.pets_spread_item3 {
    width: 340px;
    height: 305px;
}

#main .main_r .pets_goods_spread ul li.pets_spread_item1 a {
    width: 183px;
    height: 305px;
    background: url("../images/tmall.png") no-repeat center center;
}

#main .main_r .pets_goods_spread ul li.pets_spread_item2 a.jd {
    width: 175px;
    height: 197px;
    background: url("../images/jd.png") no-repeat center center;
}

#main .main_r .pets_goods_spread ul li.pets_spread_item2 a.xianyu {
    width: 175px;
    height: 108px;
    background: url("../images/xianyu.png") no-repeat center center;
}

#main .main_r .pets_goods_spread ul li.pets_spread_item3 a {
    width: 340px;
    height: 305px;
    background: url("../images/taobao.png") no-repeat center center;
}

#main .main_r .pets_goods_spread ul li span.spread_layer {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #000000;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

#main .main_r .pets_goods_spread ul li span.spread_layer2 {
    width: 175px;
    height: 197px;
}

#main .main_r .pets_goods_spread ul li span.spread_layer3 {
    top: 197px;
    width: 175px;
    height: 108px;
}

#main .main_r .pets_food {
    width: 698px;
    height: 114px;
    /*background: lightcoral;*/
    margin-top: 15px;
}

#main .main_r .pets_food ul.pets_food_list li {
    width: 230px;
    height: 114px;
    float: left;
    border-right: 1px solid #cccccc;
    list-style: none;
    line-height: 23px;
}

#main .main_r .pets_food ul.pets_food_list li.food_list_item3 {
    border-right: none;
}

#main .main_r .pets_food .pets_food_text {
    width: 100px;
    height: 114px;
    float: left;
    margin-left: 15px;
}

#main .main_r .pets_food .pets_food_pic {
    width: 110px;
    height: 110px;
    float: left;
}

#main .main_r .pets_food .pets_food_pic:hover {
    opacity: .5;
    filter: alpha(opacity=50);
    cursor: pointer;
}

#main .main_r .pets_food .food_list_item1 .pets_food_pic {
    background: url("../images/e-weita.png") no-repeat center center;
}

#main .main_r .pets_food .food_list_item2 .pets_food_pic {
    background: url("../images/abow.png") no-repeat center center;
}

#main .main_r .pets_food .food_list_item3 .pets_food_pic {
    background: url("../images/newage.png") no-repeat center center;
}

#main .main_r .pets_food .pets_food_text h1 {
    margin-top: 10px;
}

#main .main_r .pets_food .pets_food_text h2 {
    font-weight: normal;
}

#main .main_r .pets_food .pets_food_text h1.food_title a {
    font-weight: bold;
    color: #ff9d4e;
}

#main .main_r .pets_food .pets_food_text h2.food_link {
    color: #afafaf;
}

#main .main_r .pets_food .pets_food_text h2.food_link a {
    text-decoration: underline;
    color: #afafaf;
}

#main .main_r .pets_food .pets_food_text i.favorite_icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url("../images/favorite.png") no-repeat center center;
    vertical-align: text-top;
}

/*宠物贴子*/
#main .main_r .pets_post {
    margin-top: 20px;
}

#main .main_r .pets_post .pets_post_title {
    width: 100%;
    height: 22px;
}

#main .main_r .pets_post .pets_post_title .pets_post_text {
    float: left;
}

#main .main_r .pets_post .pets_post_title .pets_post_more {
    float: right;
    margin: 4px 4px 0 0;
}

#main .main_r .pets_post .pets_post_title .pets_post_more a {
    font-size: 12px;
    color: #bbbbbb;
}

#main .main_r .pets_post .pets_post_title .pets_post_more a:hover {
    color: #9a9a9a;
}

#main .main_r .pets_post .pets_post_title h1 {
    font-size: 16px;
    font-weight: bold;
    float: left;
}

#main .main_r .pets_post .pets_post_title h2 {
    font-size: 12px;
    font-weight: normal;
    float: left;
    margin: 4px 0 0 15px;
}

#main .main_r .pets_post .pets_post_tab {
    clear: both;
    padding-top: 20px;
}

#main .main_r .pets_post .pets_post_tab ul li {
    list-style: none;
}

#main .main_r .pets_post .pets_post_tab ul.post_tab_nav {
    width: 360px;
    height: 28px;
}

#main .main_r .pets_post .pets_post_tab ul.post_tab_nav li {
    width: 72px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    float: left;
}

#main .main_r .pets_post_tab ul.post_tab_nav li a {
    display: inline-block;
    width: 72px;
    height: 28px;
}

#main .main_r .pets_post_tab ul.post_tab_nav li.post_nav_active a {
    background: #5492ff;
    color: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#main .main_r .pets_post .pets_post_tab ul.post_tab_content {
    width: 694px;
    height: 350px;
    border: 2px solid #b7d1ff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 1px 1px 10px #b7d1ff;
    -moz-box-shadow: inset 1px 1px 10px #b7d1ff;
    box-shadow: inset 1px 1px 10px #b7d1ff;
}

#main .main_r .pets_post .pets_post_tab ul.post_tab_content > li.post_content_item {
    width: 694px;
    height: 350px;
    line-height: 350px;
    text-align: center;
}

#main .main_r .pets_post .pets_post_tab ul.post_tab_content > li.post_content_item {
    display: none;
}

#main .main_r .pets_post .pets_post_tab ul.post_tab_content > li.post_content_active {
    display: block;
}

#main .main_r .pets_post .pets_post_tab ul.rabbit_post_list a {
    display: inline-block;
    width: 536px;
    height: 26px;
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    float: left;
}

#main .main_r .pets_post .pets_post_tab ul.rabbit_post_list {
    margin: 15px 20px 0 20px;
}

#main .main_r .pets_post .pets_post_tab ul.rabbit_post_list span {
    font-size: 14px;
}

#main .main_r .pets_post .pets_post_tab ul.rabbit_post_list span.rabpo_title {
    color: #5492ff;
}

#main .main_r .pets_post .pets_post_tab ul.rabbit_post_list span.rabpo_text {}

#main .main_r .pets_post .pets_post_tab ul.rabbit_post_list span.rabpo_cont {
    font-size: 12px;
    color: #cccccc;
    text-decoration: underline;
}

#main .main_r .pets_post .pets_post_tab ul.rabbit_post_list span.rabpo_time {
    float: right;
    color: #B0B0B0;
}

#main .main_r .pets_post .pets_post_tab ul.rabbit_post_list span.rabpo_cont:hover {
    color: #B0B0B0;
}

#main .main_r .pets_post .pets_post_tab ul.rabbit_post_list li:hover span.rabpo_title {
    color: #2252FF;
}

#main .main_r .pets_post .pets_post_tab ul.rabbit_post_list li:hover span.rabpo_text {
    color: #333333;
}

#main .main_r .pets_post .pets_post_tab ul.rabbit_post_list li {
    width: 654px;
    height: 36px;
    line-height: 36px;
}

/*常见问题*/
#main .main_r .common_ques {
    margin-top: 40px;
}

#main .main_r .common_ques .common_ques_title {
    float: left;
}

#main .main_r .common_ques .common_ques_more {
    float: right;
    margin: 4px;
}

#main .main_r .common_ques .common_ques_more a {
    font-size: 12px;
    color: #bbbbbb;
}

#main .main_r .common_ques .common_ques_more a:hover {
    color: #9a9a9a;
}

#main .main_r .common_ques .common_ques_caption h1 {
    font-size: 16px;
    font-weight: bold;
    float: left;
}

#main .main_r .common_ques .common_ques_caption h2 {
    font-size: 12px;
    font-weight: normal;
    float: left;
    margin: 4px 0 0 15px;
}

#main .main_r .common_ques .common_ques_title {
    width: 100%;
    height: 22px;
    margin-bottom: 20px;
}

#main .main_r .common_ques .common_ques_cont {
    clear: both;
    width: 694px;
    height: 394px;
    border: 2px solid #b7d1ff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 1px 1px 10px #b7d1ff;
    -moz-box-shadow: inset 1px 1px 10px #b7d1ff;
    box-shadow: inset 1px 1px 10px #b7d1ff;
}

#main .main_r .common_ques_cont .ques_cont_wrapper {
    margin: 20px 40px;
}

#main .main_r .common_ques_cont .ques_cont_wrapper h1 {
    margin-bottom: 8px;
}

#main .main_r .common_ques_cont .ques_cont_wrapper h1 a {
    font-size: 14px;
    font-weight: bold;
    color: #5492ff;
}

#main .main_r .common_ques_cont .ques_cont_wrapper ul {
    margin-left: 30px;
}

#main .main_r .common_ques_cont .ques_cont_wrapper ul li {
    width: 584px;
    height: 28px;
    line-height: 28px;
    list-style: none;
}

#main .main_r .common_ques_cont .ques_cont_wrapper ul li a {
    font-size: 14px;
    width: 350px;
    height: 28px;
    line-height: 28px;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    float: left;
}

#main .main_r .common_ques_cont .ques_cont_wrapper ul li:hover a {
    text-decoration: underline;
}

#main .main_r .common_ques_cont .ques_cont_wrapper ul li span.browser_count {
    float: right;
    color: #a8a8a8;
    font-size: 14px;
}

#main .main_r .common_ques_cont .ques_cont_wrapper .common_ques_section {
    margin-top: 18px;
}

/*一周图集*/
#main .main_r .week_pic {
    margin-top: 40px;
}

#main .main_r .week_pic_title {
    width: 100%;
    height: 22px;
    margin-bottom: 20px;
}

#main .main_r .week_pic_title h1 {
    font-size: 16px;
    font-weight: bold;
    float: left;
}

#main .main_r .week_pic_title h2 {
    font-size: 12px;
    font-weight: normal;
    float: left;
    margin: 4px 0 0 15px;
}

#main .main_r .week_pic_cont {
    clear: both;
    width: 698px;
    height: 308px;
    background: #ffffff;
}

#main .main_r .week_pic_cont .week_pic_total li.week_total_item {
    float: left;
    height: 308px;
}

#main .main_r .week_pic_cont .week_pic_total .week_total_item1 {
    width: 270px;
    /*background: lightcoral;*/
    margin-right: 1px;
}

#main .main_r .week_pic_cont .week_pic_total .week_total_item2 {
    width: 208px;
    /*background: lightblue;*/
    margin-right: 1px;
}

#main .main_r .week_pic_cont .week_pic_total .week_total_item3 {
    width: 218px;
    /*background: lightgreen;*/
}

#main .main_r .week_pic_cont ul.week_pic_total ul.week_pic_branches li.week_pic_item {
    float: left;
    overflow: hidden;
}

#main .main_r .week_pic_cont ul.week_pic_total ul.week_pic_branches li.week_pic_item a {
    display: block;
}

#main .main_r .week_pic_cont ul.week_pic_total ul.week_pic_branches1 li.week_pic_item1 a {
    width: 270px;
    height: 209px;
    background: url("../images/rabbits/r_01.jpg") no-repeat center center;
}

#main .main_r .week_pic_cont ul.week_pic_total ul.week_pic_branches1 li.week_pic_item2 {
    width: 113px;
    height: 98px;
    margin: 1px 1px 0 0;
}

#main .main_r .week_pic_cont ul.week_pic_total ul.week_pic_branches1 li.week_pic_item2:hover a {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

#main .main_r .week_pic_cont ul.week_pic_total ul.week_pic_branches1 li.week_pic_item2 a {
    width: 113px;
    height: 98px;
    background: url("../images/rabbits/r_04.jpg") no-repeat center center;
    /*margin: 1px 1px 0 0;*/
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

#main .main_r .week_pic_cont ul.week_pic_total ul.week_pic_branches1 li.week_pic_item3 {
    width: 156px;
    height: 98px;
    margin-top: 1px;
}

#main .main_r .week_pic_cont ul.week_pic_total ul.week_pic_branches1 li.week_pic_item3:hover a {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

#main .main_r .week_pic_cont ul.week_pic_total ul.week_pic_branches1 li.week_pic_item3 a {
    width: 156px;
    height: 98px;
    background: url("../images/rabbits/r_05.jpg") no-repeat center center;
    /*margin-top: 1px;*/
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

#main .main_r .week_pic_cont ul.week_pic_total ul.week_pic_branches2 li.week_pic_item4 a {
    width: 208px;
    height: 178px;
    background: url("../images/rabbits/r_02.jpg") no-repeat center center;
}

#main .main_r .week_pic_cont ul.week_pic_total ul.week_pic_branches2 li.week_pic_item5 {
    width: 208px;
    height: 129px;
    margin-top: 1px;
}

#main .main_r .week_pic_cont ul.week_pic_total ul.week_pic_branches2 li.week_pic_item5:hover a {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

#main .main_r .week_pic_cont ul.week_pic_total ul.week_pic_branches2 li.week_pic_item5 a {
    width: 208px;
    height: 129px;
    background: url("../images/rabbits/r_06.png") no-repeat center center;
    /*margin-top: 1px;*/
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

#main .main_r .week_pic_cont ul.week_pic_total ul.week_pic_branches3 li.week_pic_item6 {
    width: 218px;
    height: 112px;
}

#main .main_r .week_pic_cont ul.week_pic_total ul.week_pic_branches3 li.week_pic_item6:hover a {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

#main .main_r .week_pic_cont ul.week_pic_total ul.week_pic_branches3 li.week_pic_item6 a {
    width: 218px;
    height: 112px;
    background: url("../images/rabbits/r_03.jpg") no-repeat center center;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

#main .main_r .week_pic_cont ul.week_pic_total ul.week_pic_branches3 li.week_pic_item7 a {
    width: 218px;
    height: 195px;
    background: url("../images/rabbits/r_07.jpg") no-repeat center center;
    margin-top: 1px;
}

#main .main_r .week_pic_cont ul.week_pic_total ul.week_pic_branches li.week_pic_item1,
#main .main_r .week_pic_cont ul.week_pic_total ul.week_pic_branches li.week_pic_item4,
#main .main_r .week_pic_cont ul.week_pic_total ul.week_pic_branches li.week_pic_item7 {
    position: relative;
}

#main .main_r .week_pic_cont ul.week_pic_branches li.week_pic_item1 .week_tips,
#main .main_r .week_pic_cont ul.week_pic_branches li.week_pic_item4 .week_tips,
#main .main_r .week_pic_cont ul.week_pic_branches li.week_pic_item7 .week_tips {
    position: absolute;
    left: 0;
    bottom: -40px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #f9f9f9;
    font-size: 14px;
    color: #666666;
    font-weight: bold;
    padding-left: 20px;
    display: block;
}

/*宠物与主人 视频*/
#main .main_r .pets_master {
    margin-top: 40px;
}

#main .main_r .pets_master .pets_master_title {
    width: 100%;
    height: 21px;
    margin-bottom: 20px;
}

#main .main_r .pets_master .pets_master_title h1 {
    font-size: 16px;
    font-weight: bold;
    float: left;
}

#main .main_r .pets_master .pets_master_title h2 {
    font-size: 12px;
    font-weight: normal;
    float: left;
    margin: 4px 0 0 15px;
}

#main .main_r .pets_master .pets_master_title a {
    float: right;
    margin: 4px;
    color: #bbbbbb;
    cursor: pointer;
}

#main .main_r .pets_master .pets_master_title a:hover {
    color: #9a9aa6;
}

#main .main_r .pets_master .pets_master_cont {
    clear: both;
}

#main .main_r .pets_master .pets_master_cont li {
    float: left;
    margin-right: 30px;
}

#main .main_r .pets_master .pets_master_cont li.pm_last_item {
    margin-right: 0;
}

#main .main_r .pets_master .pets_master_cont li div.pm_pic {
    width: 150px;
    height: 100px;
}

#main .main_r .pets_master .pets_master_cont li p.pm_explain {
    width: 150px;
    margin-top: 10px;
    line-height: 20px;
}

#main .main_r .pets_master .pets_master_cont li p.pm_explain a:hover {
    color: #458bff;
    text-decoration: underline;
}



























